.order-confirm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
}
.order-confirm-details {
  box-shadow: 0px 0px 5px 0px gray;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.order-placer-details,
.order-placed-items {
  text-align: start;
  width: 100%;
}
.order-placed-items ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.order-placed-items ol li {
  font-size: 1rem;
  display: flex;
  box-shadow: 0px 0px 5px 0px gray;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;

  flex-direction: row;
}
.order-placed-items ol li p:first-child {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 350px) {
  .order-placed-items ol li {
    font-size: 1rem;
  }
}
