.product-card {
  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 24rem;
  width: 16rem;
}

.product-card .img {
  width: 50%;
  height: 50%;
}
.product-card .img img {
  width: 10rem;
  height: 10rem;
}
.product-card .product-card-details {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-card .product-card-details .product-title {
  font-weight: bold;
  font-size: 1.2rem;
}
.product-card .product-card-details .product-description {
  font-size: 0.7rem;
}
.product-card .product-card-details .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .product-card-details .product-price .product-price-amount {
  font-weight: bold;
}
.product-card .product-card-details .product-price .view-details {
  color: blue;
}
