.cart-item {
  display: flex;
  width: 100%;
  gap: 0.2rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 4px 0px gray;
  padding: 0.5rem;
  border-radius: 10px;
  height: 6rem;
}
.cart-item .cart-image {
  background-color: white;
  height: 100%;
  border-radius: 0.5rem;
}
.cart-item .cart-item-name {
  font-size: 1rem;
  font-weight: 600;
  width: 4rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart-item .cart-item-price {
  font-weight: bold;
  font-size: 0.8rem;
  white-space: nowrap;
}
.cart-item-quantity {
  width: 15px;
  margin: 0;
  text-align: center;
}
.cart-item .cart-buttons {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.cart-item .cart-buttons button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
}
.cart-item .cart-buttons button:hover {
  cursor: pointer;
}
.cart-item .cart-buttons .remove-button {
  background-color: black;
  font-size: 1.2rem;
}
.cart-item .cart-buttons .remove-button:hover {
  background-color: rgb(56, 56, 56);
}

@media screen and (min-width: 400px) {
  .cart-item {
    gap: 0.8rem;
  }
  .cart-item .cart-item-name {
    width: 6rem;
  }
}

@media screen and (min-width: 576px) {
  .cart-item .cart-item-name {
    font-size: 1.2rem;
    font-weight: 600;
    width: 12rem;
    margin: auto;
  }
  .cart-item .cart-item-price {
    font-weight: bold;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .cart-item .cart-item-name {
    font-size: 1.4rem;
    font-weight: 600;
    width: 16rem;
    margin: auto;
  }
  .cart-item .cart-item-price {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .cart-item .cart-buttons {
    gap: 0.5rem;
  }
  .cart-item .cart-buttons button {
    width: 2.2rem;
    height: 2.2rem;

    border-radius: 50%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .cart-item {
    height: 8rem;
  }
  .cart-item-quantity {
    width: 30px;
  }

  .cart-item .cart-item-name {
    font-size: 2rem;
    font-weight: 600;
    width: 20rem;
    margin: auto;
  }
  .cart-item .cart-item-price {
    font-weight: bold;
    font-size: 2rem;
  }
  .cart-item .cart-buttons {
    gap: 0.5rem;
    font-size: 2rem;
  }
  .cart-item .cart-buttons button {
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    font-size: 1.6rem;
  }
}
