.product-details {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.product-detail {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.product-details .name {
  font-weight: bold;
  font-size: 1.6rem;
}
.product-details .category {
  color: gray;
}
.product-details .decription {
  font-size: 0.8rem;
  text-align: justify;
}
.product-details .price {
  font-size: 1.6rem;
  font-weight: bold;
}
.product-details button:hover {
  cursor: pointer;
}
.review-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.review {
  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 10px;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product-detail-container {
    margin-top: 2rem;
  }
  .product-details {
    width: 100%;
    flex-direction: row;
  }
  .product-details .product-image {
    width: 50%;
    text-align: center;
  }
  .product-details .product-detail {
    width: 50%;
    gap: 1.2rem;
  }
  .product-details .name {
    font-weight: bold;
    font-size: 2rem;
  }

  .product-details .decription {
    font-size: 1.2rem;
  }
  .product-details .price {
    font-size: 2rem;
    font-weight: bold;
  }
}
@media screen and (min-width: 1000px) {
  .product-details .product-image {
    width: 40%;
  }
  .product-details .product-detail {
    width: 60%;
    gap: 0.4rem;
  }
  .product-details button {
    width: 50%;
  }
  .product-details .name {
    font-weight: bold;
    font-size: 2rem;
  }

  .product-details .decription {
    font-size: 1.2rem;
    text-align: justify;
  }
  .product-details .price {
    font-size: 3rem;
    font-weight: bold;
  }
  .product-details button {
    padding: 1rem;
    width: 50%;
  }
}
